@model Quiz_Application.Services.Entities.Candidate
@{
    ViewData["Title"] = "Home Page";
}

@Html.HiddenFor(c => c.Candidate_ID)

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    <!-- The Grid -->
    <div class="w3-row">
        <!-- Left Column -->
        <div class="w3-col m3">
            <!-- Profile -->
            <div class="w3-card w3-round w3-white">
                <div class="w3-container">
                    <h4 class="w3-center">My Profile</h4>
                    <p class="w3-center">
                        @if (@Model.ImgFile != null)
                        {
                            <img src="~/UploadedFiles/@Model.ImgFile" class="w3-circle" style="height:106px;width:106px" alt="Avatar" id="imgProfile">
                        }
                        else
                        {
                            <img src="https://www.w3schools.com/w3images/avatar3.png" class="w3-circle" style="height:106px;width:106px" alt="Avatar" id="imgProfile">
                        }
                    </p>
                    <hr>
                    <p>
                        <i class="fa fa-address-card fa-fw w3-margin-right w3-text-theme"></i>                      
                        <lable id="eqCandidateID">@Model.Candidate_ID</lable>
                    </p>
                    <p>
                        <i class="fa fa-user fa-fw w3-margin-right w3-text-theme"></i>@Model.Name
                    </p>
                    <p><i class="fa fa-phone fa-fw w3-margin-right w3-text-theme"></i>@Model.Phone</p>
                    <p><i class="fa fa-paper-plane fa-fw w3-margin-right w3-text-theme"></i>@Model.Email</p>
                    @*<p><i class="fa fa-upload fa-fw w3-margin-right w3-text-theme"></i>Edit profile picture</p>
                        <p>
                            <div class="file-upload">
                                <div class="file-select">
                                    <div class="file-select-button" id="fileName">Choose file</div>
                                    <div class="file-select-name" id="noFile">No file chosen...</div>
                                    <input type="file" name="chooseFile" id="chooseFile" onchange="ShowImagePreview(this);" accept="image/*">
                                </div>
                            </div>
                        </p>
                        <p><button type="button" class="w3-button w3-theme" onclick="SaveImage()"><i class="fa fa-save"></i>  Save</button></p>*@
                </div>
            </div>
            <br />
            <!-- Alert Box -->
            <div class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
                <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
                    <i class="fa fa-remove"></i>
                </span>
                <p><strong>Please Note !</strong></p>
                <p style="color:red;">The test is not official, it's just a nice way to see how much you know, or don't know, about the skill.</p>
            </div>
            <!-- End Left Column -->
        </div>

        <!-- Middle Column -->
        <div class="w3-col m7">
            <div class="w3-row-padding" id="pnlExam">
                <div class="w3-col m12">
                    <div class="w3-card w3-round w3-white">
                        <div class="w3-container w3-padding">
                            <h6 class="w3-opacity">Select your skill & start the Quiz. Good luck !</h6>
                            <select class="w3-select w3-border" id="ddlExam"></select>
                            <p><button type="button" id="btnStart" class="w3-button w3-theme"><i class="fa fa-pencil"></i>  Start</button></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w3-container w3-card w3-white w3-round w3-margin" id="eqMain">
                <br>
                <span class="w3-right w3-opacity" id="eqCount"></span>
                <h3>Loading...</h3>
                <hr class="w3-clear">
                <h4 style="color:red;" id="eqQuestion"></h4>
                <p></p>               
                <button class="w3-button w3-block w3-blue" id="btnSave"><i class="fa fa-check"></i> Save</button>
                <hr class="w3-clear">
                <button id="btnPrev" type="button" class="w3-button w3-theme-d1 w3-margin-bottom w3-left"><i class="fa fa-angle-left"></i> Previous</button>
                <button id="btnNext" type="button" class="w3-button w3-theme-d1 w3-margin-bottom w3-right">Next <i class="fa fa-angle-right"></i></button>
            </div>
            <!-- End Middle Column -->
        </div>

        <!-- Right Column -->
        <div class="w3-col m2">
            <div class="w3-card w3-round w3-white w3-center">
                <div class="w3-container">
                    <p>Upcoming Events:</p>
                    <img src="https://www.w3schools.com/w3images/forest.jpg" alt="Forest" style="width:100%;">
                    <p><strong>Holiday</strong></p>
                    <p id="timer">Time : 00:00:00</p>
                    <p><button class="w3-button w3-block w3-theme-l4" id="btnSubmit">Submit</button></p>
                </div>
            </div>
            <br />
            <div class="w3-card w3-round w3-white w3-padding-32 w3-center" id="eqReport">
                <p><i class="fa fa-file-pdf-o w3-xxlarge" title="Download Score Report"></i></p>
            </div>
            <!-- End Right Column -->
        </div>
        <!-- End Grid -->
    </div>
    <!-- End Page Container -->
</div>
<br />