@model Quiz_Application.Services.Entities.Root
@{
    ViewData["Title"] = "Result";
}

<div class="w3-container w3-content" style="max-width:1200px;margin-top:80px">
    <h2>Quiz Attempt</h2>
    <input asp-for="objCandidate.Candidate_ID" type="hidden" id="hdnCandidateID" />
    <p>
        <table class="w3-table-all w3-centered w3-card-4 w3-white w3-round">
            <tr class="w3-blue">
                <th>Sl. No.</th>
                <th style="display:none;">SessionID</th>
                <th style="display:none;">ExamID</th>
                <th>Quiz</th>
                <th>Score</th>
                <th>Date</th>
                <th style="display:none;">Status</th>
                <th>Action</th>
            </tr>
            @if (Model.objAttempt.Count > 0)
            {
                foreach (var item in Model.objAttempt)
                {
                    <tr>
                        <td>@item.Sl_No</td>
                        <td style="display:none;">@item.SessionID</td>
                        <td style="display:none;">@item.ExamID</td>
                        <td>@item.Exam</td>
                        <td>@item.Score</td>
                        <td>@item.Date</td>
                        <td style="display:none;">@item.Status</td>
                        <td><button class="w3-button w3-tiny w3-light-green btnScore">Get Report</button></td>
                    </tr>
                }
            }
            else
            {
                <tr><td colspan="7">No Records Found</td></tr>
            }
        </table>
    </p>
    <div id="eqScore" class="w3-card-4 w3-round w3-white">
        <header class="w3-container w3-light-grey">
            <h3>Loading...</h3>
        </header>
        <div class="w3-container">
            <p>Loading...</p>
            <hr>
            <img src="https://icon-library.com/images/win-icon/win-icon-4.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
            <h5>Loading...</h5>
            <br />
            <span class="w3-right w3-opacity"></span><br />
            <hr />
        </div>
        <button id="btnReport" class="w3-button w3-block w3-blue"><i class="fa fa-download"></i> Download Report</button>
    </div>
</div>
<br />
